<div class="range-container">
  <div class="range">
      <div class="range__control">
        <input
          class="range__input"
          [value]="manualValue"
          [min]="minValue"
          [max]="maxValue"
          type="range"
          name="range..."
          id="range"
          aria-label="control range ..."
          (input)="changeColorRange($event)"
          #range
          [step]="handleStepsValue()"
        />
    </div>
  </div>
  <div class="guides">
    <div class="guides__range-guides" #rangeDividerContainer></div>
  </div>

  <div class="labels" *ngIf="showValuesLabels">
    <label for="minValue" class="labels__range-minValue"
      >{{ prefix }}. {{ formatNumber(minValue) }}</label
    >
    <label for="maxValue" class="labels__range-maxValue"
      >{{ prefix }}. {{ formatNumber(maxValue) }}</label
    >
  </div>
</div>
