<div class="range-container">
  <div class="div1">
    <div class="range-input">
      <div class="input-range-control">
        <input
          class="input-range"
          [value]="manualValue"
          [min]="minValue"
          [max]="maxValue"
          type="range"
          name="range..."
          id="range"
          aria-label="control range ..."
          (input)="changeColorRange($event)"
          #range
          [step]="handleStepsValue()"
        />
      </div>
    </div>
  </div>
  <div class="div2">
    <div class="range-divider" #rangeDividerContainer></div>
  </div>

  <div class="range-label-container" *ngIf="showValuesLabels">
    <label for="range-slider" class="range-min"
      >{{ prefix }}. {{ formatNumber(minValue) }}</label
    >
    <label for="range-slider" class="range-max"
      >{{ prefix }}. {{ formatNumber(maxValue) }}</label
    >
  </div>
</div>
